* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

:root.dark {
  --background-color: #333;
  --color: #e7e7e7;

  --button-bg-color: #1b68e3;
  
  --icon-color-hover: #f4f420;
}

:root.light {
  --background-color: #e7e7e7;
  --color: #333;

  --button-bg-color: #1b68e3;

  --icon-color-hover: #7f7f26;
}

body {
  font-size: 1.6rem;

  background-color: var(--background-color);
  color: var(--color);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
}

#theme-btns {
  position: absolute;
  right: 2.4rem;
  top: 2.4rem;
}

#theme-btns button {
  background: none;
  border: none;
  color: var(--color);

  transition: .5s;
}

#theme-btns button:hover {
  cursor: pointer;
  transform: rotate(360deg);

  color: var(--icon-color-hover);
}

:root.dark #dark,
:root.light #light {
  display: none;
}

#title {
  text-align: center;
}

h1 {
  margin: 1rem;
}

h2 {
  font-size: 1.6rem;
}

#change-btn {
  border: none;
  border-radius: .6rem;

  text-transform: uppercase;
  font-weight: 700;

  padding: 1.2rem 2.4rem;

  background-color: var(--button-bg-color);
  color: var(--color);

  transition: .5s;
}

#change-btn:hover {
  cursor: pointer;

  transform: scale(1.2);

  background-color: var(--color);
  color: var(--button-bg-color);

  box-shadow: 4px 4px 4px var(--button-bg-color);
}

#container {
  display: flex;

  width: min(40%, calc(100vh - 100px));
  aspect-ratio: 1 /1;
  margin: 0 auto;
}

#container div {
  transition: .5s;
}

.column {
  flex: 1;
  aspect-ratio: 1/1;
  background-color: var(--color);

  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;

  opacity: 1;
}